
.label {
    text-align: center;
    padding-top: 1em;
}

.img {
    max-width: 300px;
    max-height: 300px;
}

.main {
    z-index: 1;
    padding-top: 20px;
}

.secondly {
    filter: brightness(50%);
    max-width: 250px;
    max-height: 250px;
    margin-left: -15px;
}

.secondly.border {
    filter: brightness(40%);
    z-index: -2;
    max-width: 200px;
    max-height: 200px;
}

.secondly.last{
    filter: brightness(30%);
    max-width: 160px;
    max-height: 160px;
    z-index: -3;
}
