.Main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Main>* {
    flex: 1 1 160px;
}

.PartyControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
