.Party{
    height: 700px;
    padding-top: 100px;
    margin-right: 200px;
    margin-left: 160px;
}


.TopPart{
    height:50%;
}

.BottomPart{
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}