.NavbarItem{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.NavbarItem:hover{
    background-color: rgb(154,154,154);
    color: black;
}

.NavbarItem .active{
    background-color: rgb(29,185,84);
}
