.PlayBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CurrentPlayBar{
    width: 100%;
    background-color: lightslategrey;
    margin: 20px;
    height: 12px;
    border-radius: 20px;
}