.TopParty{
    margin-left: 10px;
    padding-top: 10px;
}

.TopParty:hover{
    background-color: rgb(154,154,154);
}

.Link{
    text-decoration: none;
}
.FirstRow{
    color: rgb(230, 230, 230);
    font-size: 17px;
}

.SecondRow{
    font-size: 14px;
    color: rgb(179, 179, 179);
}