.TopParty{
    margin-left: 10px;
    margin-right: 5px;
    padding-top: 10px;
}

.FirstRow{
    color: rgb(179, 179, 179);
    font-size: 17px;
}

.SecondRow{
    font-size: 14px;
    color: rgb(230, 230, 230);
}